.{margin:0;padding:0;}
body{font-family:arial;font-size:10px;line-height:20px;color:#737373;background:url(../images/background_pattern_line_shape_texture_50880_1280x720.jpg)fixed;}

.main{width:960px;margin:auto;display:block;overflow:hidden;background:url(../images/background-pattern-design-87.jpg)repeat;}
.heading{text-align:center;font-size:15px;color:white;border:1px solid black;font-family:arial;}
.header{}
.header img{width:960px;height:140px;overflow:hidden;}
.main_menu{background:yellow;overflow:hidden;}
.main_menu ul{margin:0;padding:0;list-style:none;}
.main_menu ul li{float:left;border-right:1 px solid #E5E5E5;}
.main_menu ul li a{display:block;color:black;padding:10px 20px;text-decoration:none;font-size:15px;font-family:COMIC SANS MS;font-weight:10;}
.main_menu ul li a.active{background:green;color:white;font-weight:bolder;}
.main_menu ul li a:hover{background:black;color:white;font-weight:bolder;}
.login{}
.wrapper{
	width:300px;
	color:yellow;
	min-height:300px;
	min-height:350px;
	margin-top:100px;
	margin-bottom:100px;
	margin-left:400px;
	margin-right:300px;
	border:1px solid white;
	border-radius:5px;
	overflow:hidden;
}
.formDiv{
	width:200px;
	margin:0px auto;
	margin-top:20px;
	font-size:15px;
}
.para{}
p{font-size:15px;overflow:hidden;text-align:center;}
p a{font-type:bolder;color:white;}
p a:hover{color:yellow;}
.footer{background:#333;color:#fff;height:240px;overflow:hidden;}
.footer p{font-size:15px;}
.email{width:450px;float:left;overflow:hidden;margin-left:5px;}
.phn{width:510;float:right;overflow:hidden;margin-left:300px;}
.logo{height:100px;}
.logo img{width:100px;height:80px;margin-right:70px;}
